.promo__wrapper {
  position: relative;

  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;

  border-bottom: 1px solid rgba(@first-color, .3);

  @media @tablet {
    padding-bottom: 70px;
  }

  @media @mobile {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  @media @mobile-sm {
    padding-top: 130px;
    padding-bottom: 25px;
  }
}

.promo__content {
  width: 50%;

  @media @mobile-sm {
    width: 100%;
  }
}

.promo__uptitle {
  padding: 0;
  margin: 0 0 20px;

  font-size: 32px;
  font-weight: 200;
  line-height: 1.1;
  color: @main-color;

  @media @mobile {
    font-size: 27px;
    line-height: 1.1;
  }
}

.promo__title {
  padding: 0;
  margin: 0 0 20px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  @media @mobile {
    font-size: 30px;
    line-height: 1.1;
  }
}

.promo__subtitle {
  padding: 0;
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 18px;
  color: rgba(@main-color, .7);
}

.promo__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;

  width: 50%;
  max-width: 514px;
  max-height: 493px;

  @media @mobile {
    width: 400px;
  }

  @media @mobile-sm {
    display: none;
  }
}

.promo__social-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 42px;

  list-style: none;

  @media @mobile-sm {
    flex-wrap: wrap;
  }
}

.promo__social-item {
  margin-right: 20px;
  width: 40px;
  height: 40px;

  transition: transform .2s linear;
  &:hover {
    transform: translateY(-5px);
  }
}

.promo__social-link {
  display: block;
  width: 40px;
  height: 40px;
}
